.fondo{
    background-image:url("../img/fondo.jpg");
    padding:15%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.fondo::after{
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    opacity: 0.6;
    z-index: -1;

}

.letra{
    color: #05163E;
}

.boton{
    background-color: #0C369C;
}